services:
  flaresolverr-mitm-proxy:
    image: xjasonlyu/flaresolverr-mitm-proxy:latest
    container_name: flaresolverr-mitm-proxy
    # environment:
    #   - PROXY=http://localhost:9090
    ports:
      - 8080:8080
    restart: unless-stopped

  flaresolverr:
    # DockerHub mirror flaresolverr/flaresolverr:latest
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_FILE=${LOG_FILE:-none}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=Asia/Shanghai
    ports:
      - "${PORT:-8191}:8191"
    restart: unless-stopped
